[Desktop Entry]
Name=Suporte Dktec
GenericName=Suporte remoto
Comment=Suporte Remoto Dktec
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=rustdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Abrir nova janela
Exec=rustdesk %u
